@font-face {
	font-family: "font";
	src: url("JetBrainsMono-Medium.ttf");
}

body, button, a {
	font-family: "font";
}

#main {
	text-align: center;
	padding-top: 15%;
}

button {
	border-radius: 8px;
	padding: 8px;
	background-color: aliceblue;
}

a {
	color: black;
}

.txt {
	background-color: rgb(235, 235, 235);
	padding: 3px;
	border-radius: 8px;
	width: 30%;
	text-align: center;
}